﻿@model LambdaForums.Models.Forum.ForumTopicModel

<h1>Welcome to the @Model.Forum.Name Forum!</h1>

@if (Model.Posts.Any())
{
    <table>
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>
                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                            @post.Title
                        </a>
                    </td>
                    <td>
                        @post.AuthorName
                    </td>
                    <td>
                        @post.DatePosted
                    </td>
                    <td>
                        @post.RepliesCount
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="noPosts">
        <h3>
            It looks like there are no @Model.Forum.Name posts yet. <br />
            Why not
            <a asp-controller="Post" asp-action="Create", asp-route-id="@Model.Forum.Id">
                <span>create</span>
            </a>
            one?
        </h3>
    </div>
}